<?xml version="1.0" encoding="UTF-8"?>
<Configuration
        xmlns:xi="http://www.w3.org/2001/XInclude"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                   https://logging.apache.org/xml/ns">

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>

</Configuration>